.homepage-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.homepage-main-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 3rem;
}

.homepage-main-logo {
  font-size: 5rem;
  font-weight: bold;
  color: var(--blue1);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  animation: glow 2s infinite;
}
.homepage-main-text-headline {
  font-size: 2rem;
  color: var(--blue2);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  font-weight: 600;
}

.homepage-main-blocks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 2rem;
}

.homepage-main-block {
  position: relative;
  width: 20%;
  min-height: 25vh;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  color: white;
  text-align: center;
  font-size: 1.5rem;

  &:hover {
    min-height: 30vh;
    transition: min-height 0.5s ease;

    .block-explanation {
      opacity: 1;
    }

    .block-title {
      opacity: 0;
    }
  }
}

.block-title,
.block-explanation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.block-title {
  opacity: 1;
  font-weight: bold;
}

.block-explanation {
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  font-weight: 600;
}

#homepage-main-block-1 {
  background-color: var(--blue1);
}

#homepage-main-block-2 {
  background-color: var(--blue2);
}

#homepage-main-block-3 {
  background-color: var(--blue3);
}

#homepage-main-block-4 {
  background-color: var(--blue4);
}

.homepage-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.homepage-button {
  padding: 1rem 2rem;
  border-radius: 1rem;
  background-color: var(--blue1);
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  border: none;
  cursor: pointer;
  text-decoration: none;

  &:visited {
    color: white;
  }

  &:hover {
    background-color: var(--blue2);
    transform: scale(1.05);
  }

  &:active {
    transform: scale(0.95);
  }
}
