.select-filter-div {
  position: relative;
}

.select-filter-search-value {
  position: relative;
}

.select-filter-select {
  position: absolute;
  display: none;

  &.show {
    display: block;
    top: 2.5rem;
    z-index: 1;
  }

  ul {
    width: 16vw;
    padding: 0.5rem;
    list-style: none;
    background-color: white;
    font-size: 1.2rem;
    max-height: 30vh;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--cyan2) white;
  }

  li {
    padding: 0.5rem;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      background-color: var(--cyan2);
    }
  }
}

#select-filter-loading {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#select-filter-loading:after {
  border: 2px solid black;
  border-color: black transparent black transparent;
}
