.filter-bar {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  width: 100%;
}

.filter-bar-row {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.filter-dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.3rem;
  font-weight: 500;
  border: 1px solid var(--orange1);
  background-color: white;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  transition: all 0.3s ease;

  &.l {
    width: 25vw;
  }
  &.m {
    width: 32%;
  }
  &.s {
    width: 24%;
  }

  &.disabled {
    opacity: 0.5;
    * {
      cursor: default;
    }
  }
  &.chosen {
    background-color: var(--orange3);
    .filter-dropdown-header {
      color: white;
    }
  }
  &.show {
    border-radius: 5px 5px 0 0;
  }
  &.pending {
    background-color: var(--orange1);
    color: grey;
    cursor: default;
  }
}

#filter-dropdown-loading:after {
  width: 20px;
  height: 20px;
  border: 2px solid grey;
  border-color: grey transparent grey transparent;
}

.filter-dropdown-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  cursor: pointer;
  padding: 0.5rem;
}

.filter-dropown-label {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.filter-dropdown-header-buttons {
  display: flex;
}

.filter-dropdown-menu-open {
  position: absolute;
  top: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: white;
  max-height: 0;
  z-index: 1;
  display: none;

  &.show {
    display: flex;
    max-height: 35vh;
    border: 1px solid var(--orange1);
    border-top: none;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);

    .filter-dropdown-search-input {
      opacity: 1;
    }
  }

  ul {
    width: 100%;
    list-style: none;
    background-color: white;
    font-size: 1.2rem;
    max-height: 30vh;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--orange2) white;
    padding: 0;
  }

  li {
    cursor: pointer;
    transition: all 0.3s;
    padding: 0.5rem 1rem;

    &:hover {
      background-color: var(--orange2);
    }
  }
}

.filter-dropdown-search-input {
  width: 90%;
  border: none;
  border-radius: 0;
  font-size: 1.3rem;
  padding: 0.5rem 0;
  border-bottom: 1px solid var(--orange1);
  opacity: 0;

  &:focus {
    outline: none;
  }
}

.bottom-filters-container {
  position: relative;
  background-color: var(--orange2);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--orange1);
  border-radius: 5px;
  width: 66%;
  justify-content: space-between;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}

.advanced-filters-rows {
  display: flex;
  flex-wrap: wrap;
  transition: all 0.3s ease;
  max-height: 0;
  overflow: hidden;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;

  &.show {
    margin-bottom: 1rem;
    max-height: 20vh;
    overflow: visible;
  }
}

.filter-bar-buttons-row {
  display: flex;
  width: 100%;
  gap: 0.5rem;
}

.filter-bar-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
  gap: 0.5rem;
  width: 50%;
  background-color: var(--orange2);
  border: 0;
  font-size: 1.2rem;
  border-radius: 5px;

  &:hover {
    background-color: var(--orange3);
  }
}
.filter-bar-search-input {
  width: 90%;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  padding: 0.5rem;
  border: 0;

  &:focus {
    outline: none;
  }
}

#filter-bar-search-button {
  font-weight: 700;

  &.pending {
    background-color: var(--orange1);
    color: grey;
    cursor: default;
  }
}
