.threads-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 1.3rem;
}

.threads-list-container {
  display: flex;
  flex-direction: column;
  border-radius: 2rem 2rem 0 0;
  width: 60vw;
  height: 85vh;
  overflow: auto;
  scrollbar-color: var(--red3) var(--red4);
  border: 2px solid var(--red5);
  margin-top: 1rem;

  &.is-profile-page {
    width: 75vw;
  }
}

.threads-list-rows {
  display: flex;
  flex-direction: column;
}

.threads-list-headers-row {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  min-width: 105vw;
  padding: 1% 2%;
  gap: 3rem;
  font-weight: 500;
  background: var(--red2);
  border-bottom: 1px solid var(--red5);
  box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.1);
  z-index: 1;

  &.is-profile-page {
    min-width: 130vw;
  }
}

.thread-row {
  min-height: 6rem;
  display: flex;
  align-items: center;
  min-width: 105vw;
  padding: 1% 2%;
  gap: 3rem;
  border-bottom: 1px solid var(--red5);
  transition: background 0.3s;
  cursor: pointer;

  &:nth-child(even) {
    background: white;
  }

  &:nth-child(odd) {
    background: var(--red4);
  }

  &:hover {
    background: rgb(255, 188, 188);
  }

  &:active {
    background: var(--red3);
  }

  &.is-profile-page {
    min-width: 130vw;
  }
}

.table-element {
  overflow: hidden;
  max-height: 100%;
}

.isClosed {
  min-width: 4vw;
  &.row {
    width: 4vw;
    display: flex;
    justify-content: center;
  }
}
.starred {
  min-width: 7vw;
  &.row {
    width: 7vw;
    display: flex;
    justify-content: center;
  }
}
.exam {
  min-width: 15vw;
  &.row {
    width: 15vw;
  }
}
.title {
  min-width: 15vw;
  &.row {
    width: 15vw;
  }
}
.creator,
.createdAt {
  min-width: 8vw;
  &.row {
    width: 8vw;
  }
}
.views,
.comments {
  min-width: 5vw;

  &.row {
    display: flex;
    align-items: center;
    width: 5vw;
    gap: 0.5rem;
  }
}
.lastComment {
  min-width: 10vw;

  &.row {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 10vw;
  }
}
.tags {
  min-width: 15vw;
  &.row {
    width: 15vw;
  }
}

.threads-list-error {
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 2rem;
  font-size: 1.5rem;
  color: var(--red1);
}

.table-element.header {
  cursor: pointer;
  display: flex;
  align-items: center;

  &:hover,
  &.is-sorter {
    a {
      text-decoration: underline;
    }
  }
}

#threads-loading:after {
  margin-top: 2rem;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 3px solid var(--red1);
  border-color: var(--red1) transparent var(--red1) transparent;
}
