.threads-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 1.3rem;

  &.is-profile-page {
    gap: 1rem;
  }
}

.threads-list-container {
  display: flex;
  flex-direction: column;
  border-radius: 2rem 2rem 0 0;
  width: 62.5vw;
  height: 75vh;
  overflow: auto;
  scrollbar-color: var(--red3) var(--red4);
  border: 2px solid var(--red5);

  &.is-profile-page {
    width: 75vw;
  }
}

.threads-list-pagination {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  margin: 1rem 0;
  font-size: 1.5rem;
}

.navigation-arrow {
  font-size: 2rem;
  color: grey;

  &.enabled {
    color: navy;

    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      color: var(--cyan2);
    }
  }
}

.threads-list-rows {
  display: flex;
  flex-direction: column;
}

.threads-list-headers-row {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  width: 110vw;
  padding: 1% 2%;
  gap: 3rem;
  font-weight: 500;
  background: var(--red2);
  border-bottom: 1px solid var(--red5);
  box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.1);
  z-index: 1;

  &.is-profile-page {
    width: 110vw;
  }
}

.thread-row {
  min-height: 6rem;
  display: flex;
  align-items: center;
  width: 110vw;
  padding: 1% 2%;
  gap: 3rem;
  border-bottom: 1px solid var(--red5);
  transition: background 0.3s;
  cursor: pointer;

  &:nth-child(even) {
    background: white;
  }

  &:nth-child(odd) {
    background: var(--red4);
  }

  &:hover {
    background: rgb(255, 188, 188);
  }

  &:active {
    background: var(--red3);
  }

  &.is-profile-page {
    width: 110vw;
  }
}

.table-element {
  overflow: hidden;
  max-height: 100%;
}

.isClosed {
  width: 6rem;
  &.row {
    display: flex;
    justify-content: center;
  }
}
.starred {
  width: 10rem;

  &.row {
    display: flex;
    justify-content: center;
  }
}
.title {
  width: 15rem;
}
.tags {
  width: 20rem;
}
.creator,
.createdAt {
  width: 11rem;
}
.views,
.comments {
  width: 6rem;

  &.row {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}
.lastComment {
  width: 12rem;

  &.row {
    display: flex;
    flex-direction: column;
  }
}
.exam {
  width: 20rem;

  &.row {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.add-thread-button {
  position: absolute;
  top: 1rem;
  left: 1.5rem;

  font-size: 2rem;
  color: white;
  background-color: var(--red1);
  border-radius: 50%;
  padding: 0.5rem;
  cursor: pointer;
  transition: all 0.3s;
  box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.1);

  &:hover {
    background-color: var(--red3);
  }

  &:active {
    background-color: var(--red4);
  }
}

.threads-list-error {
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 2rem;
  font-size: 1.5rem;
  color: var(--red1);
}

.table-element.header {
  cursor: pointer;
  display: flex;
  align-items: center;

  &:hover,
  &.is-sorter {
    a {
      text-decoration: underline;
    }
  }
}

.threads-list-pagination {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  margin: 1rem 0;
  font-size: 1.5rem;
}

.navigation-arrow {
  font-size: 2rem;
  color: grey;

  &.enabled {
    color: navy;

    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      color: var(--cyan2);
    }
  }
}
#threads-loading:after {
  margin-top: 2rem;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 3px solid var(--orange1);
  border-color: var(--orange1) transparent var(--orange1) transparent;
}
