.comment-box-container {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 1rem;
  width: calc(100% - 2rem);
}

.comment-box {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: white;
  width: 100%;
  box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.1);
}

.comment-box-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  background-color: var(--grey1);
  padding: 0.5rem 1rem;

  &.first-nest {
    background-color: var(--grey2);
  }

  &.second-nest {
    background-color: var(--grey3);
  }
}

.comment-sender {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.comment-sender-avatar {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
.comment-title {
  font-size: 1rem;
  font-weight: bold;
}
.edit-comment-title-input {
  font-size: 1rem;
  font-weight: bold;
  border: none;
  padding: 0.25rem 0.5rem;
  box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  width: 20vw;

  &:focus {
    outline: none;
  }
}
.comment-header-left-section {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.comment-expand-button {
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    color: var(--cyan2);
  }
}

.comment-content {
  padding: 0 1.5rem;
  direction: ltr;
  text-align: left;
}

.comment-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  background-color: var(--grey1);
  padding: 0.5rem 1rem;

  &.first-nest {
    background-color: var(--grey2);
  }

  &.second-nest {
    background-color: var(--grey3);
  }
}
.like-button {
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    color: var(--red3);
  }
}
#like-loading:after {
  border: 2px solid black;
  border-color: black transparent black transparent;
}
.comment-likes,
.comment-replies {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.comment-buttons {
  display: flex;
  gap: 1rem;
}
.comment-button {
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;

  &:hover {
    background-color: var(--red2);
  }

  &:active {
    background-color: var(--red3);
  }
}

.ql-align-left {
  text-align: left;
}
.ql-align-center {
  text-align: center;
}
.ql-align-right {
  text-align: right;
}
.ql-align-justify {
  text-align: justify;
}
.ql-direction-rtl {
  direction: rtl;
}
