.thread-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

#thread-page-loading {
  margin-top: 2rem;
}
#thread-page-loading:after {
  width: 50px;
  height: 50px;
  border: 3px solid black;
  border-color: black transparent black transparent;
}

.thread-page-error {
  font-size: 1.5rem;
  margin-top: 2rem;
}

.thread-page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.thread-page-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 40vw;
  border: 1px solid var(--grey1);
  border-radius: 1rem;
  padding: 1rem;
  background-color: var(--grey3);
  box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.1);
  position: relative;
}
.thread-page-title {
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.edit-title-button {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
.edit-title-input {
  font-size: 1.5rem;
  font-weight: bold;
  border: none;
  width: 20vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0.25rem;

  &:focus {
    outline: none;
  }
}

.thread-page-exam-details {
  display: flex;
  align-items: center;

  gap: 0.5rem;
  font-size: 1.2rem;
}

.thread-page-views-and-comments {
  display: flex;
  gap: 1rem;
  font-size: 1.2rem;
}
.thread-page-views,
.thread-page-comments {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.go-to-exam-button {
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  background-color: var(--cyan2);
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;

  &:hover {
    background-color: var(--red2);
  }

  &:active {
    background-color: var(--red3);
  }
}

.thread-page-tags {
  display: flex;
  gap: 0.25rem;
  font-size: 1rem;
  flex-wrap: wrap;
}

.thread-header-bottom-buttons {
  display: flex;
  gap: 1rem;
  width: 100%;
  justify-content: space-between;
}

.thread-header-bottom-button {
  font-size: 1rem;
  border: none;
  cursor: pointer;
  text-decoration: underline;
}

.thread-comment-list {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 1rem;
  width: 60vw;
  padding-left: 2rem;
}

.new-comment {
  display: flex;
  flex-direction: column;
  background-color: var(--grey2);
  box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.1);
  width: calc(100% - 2rem);
}
.new-comment-title {
  font-size: 1rem;
  padding: 0.25rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  .close-btn {
    cursor: pointer;
  }
}
.new-comment-button {
  font-size: 0.5rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  margin-top: 0.25rem;
  align-self: center;
  width: 25%;
  min-height: 1.75rem;

  &:hover {
    background-color: var(--red2);
  }

  &:active {
    background-color: var(--red3);
  }
}

#isClosed-loading {
  margin-left: 1rem;
}
#isClosed-loading:after,
#new-comment-loading:after,
#change-title-loading:after {
  border: 2px solid black;
  border-color: black transparent black transparent;
}

.thread-page-star-toggle {
  position: absolute;
  left: 0;
  top: 0;
}
