.free-search-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.free-search-page-error {
  font-size: 1.5rem;
  margin-top: 2rem;
}
#free-search-loading:after {
  margin-top: 2rem;
  width: 50px;
  height: 50px;
  border: 3px solid black;
  border-color: black transparent black transparent;
}
.free-search-page-no-results {
  font-size: 1.5rem;
}

.free-search-results-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  background: white;
  width: 60%;
  padding: 1rem;
  border-radius: 10px;
  gap: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.free-search-results-list {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 10px;
  max-height: 70vh;
  overflow-y: auto;
  width: 95%;
}
.free-search-results-list-header {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
#free-search-exams-list {
  background-color: var(--cyan4);
  scrollbar-color: var(--cyan2) white;

  & .free-search-results-list-header {
    color: navy;
  }
}
#free-search-threads-list {
  background-color: var(--red4);
  scrollbar-color: var(--red3) var(--red2);

  & .free-search-results-list-header {
    color: var(--red1);
  }
}

.free-search-list-ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.free-search-list-item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 10px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.02);
  }
}

.free-search-list-item-main-details {
  font-size: 1.3rem;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
}
.free-search-list-item-comments-views {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.free-search-list-item-comments-views-pair {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.free-search-list-item-secondary-details {
  font-size: 1rem;
  display: flex;
  gap: 3rem;
}
.free-search-list-item-secondary-details-pair {
  display: flex;
  flex-direction: column;

  .table-element.row.rating {
    width: auto;
  }
}
.secondary-details-pair-key {
  font-weight: bold;
}
