.auth-page {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(to right, var(--blue3) 0%, var(--blue3) 50%, white 50%, white 100%);
  position: fixed;
  width: 50%;
  height: 70vh;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: row-reverse;
  border-radius: 25px;

  input {
    text-align: right;
  }
}

.auth-side-logo {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

#auth-logo-row-1 {
  font-size: 5rem;
  font-weight: bold;
  color: white;
  margin-top: 25%;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  animation: glow 2s infinite;
}

#auth-logo-row-2 {
  font-size: 2rem;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

@keyframes glow {
  0% {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  }
  50% {
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8);
  }
  100% {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  }
}

.auth-side-form {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.auth-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.auth-form {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1.8rem;
}

.auth-form input {
  box-sizing: border-box;
  background-color: var(--yellow2);
  border: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  height: 6vh;
  font-size: 1.1rem;
  border-radius: 5px;
  padding: 0 1rem;
  width: 100%;

  &:focus {
    outline: none;
  }

  &[type="password"] {
    direction: ltr;

    &.passwords-mismatch {
      border: 1px solid var(--red1);

      &::placeholder {
        color: var(--red1);
      }
    }
  }

  &[type="email"] {
    direction: ltr;
  }
}

.auth-submit-button {
  background-color: var(--blue2);
  color: white;
  border: none;
  width: 100%;
  height: 6vh;
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;

  &:hover {
    background-color: var(--blue1);
  }

  &:focus {
    outline: none;
  }

  &:active {
    background-color: var(--blue3);
  }
}

.auth-form-footer {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
  font-size: 1.2rem;

  a:visited {
    text-decoration: none;
    color: var(--blue2);
  }
}

#auth-loading:after {
  border: 2px solid white;
  border-color: white transparent white transparent;
}
