:root {
  --yellow1: #f8f6e3;
  --yellow2: #eee9da;
  --yellow3: #fff8ea;
  --yellow4: #fff4e9;
  --orange1: #e0c5a8d2;
  --orange2: #ffdab2;
  --orange3: #e4a975;
  --orange4: rgb(255, 209, 169);
  --cyan1: #97e7e1;
  --cyan2: #6ad4dd;
  --cyan3: #93bfcf;
  --cyan4: rgb(222, 245, 255);
  --cyan5: rgb(187, 235, 255);
  --blue1: #7aa2e3;
  --blue2: #3e7ae0;
  --blue3: #6096b4;
  --blue4: #5ba2ff;
  --red1: rgb(190, 3, 0);
  --red2: #ffcccc;
  --red3: #ff7f7f;
  --grey1: #ccc;
}

body {
  background-color: var(--yellow1);
  font-family: "Noto Sans Hebrew", "Noto Sans", sans-serif;
  text-align: right !important;
  direction: rtl;
}

input,
select,
option,
p,
a,
label,
button {
  font-family: "Noto Sans Hebrew", "Noto Sans", sans-serif;
  text-align: right;
}
