.exam-forum {
  width: 90%;
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: var(--red4);
  border-radius: 10px;
  padding: 2rem;
  position: relative;
}

.loading-forum,
.error-forum {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}