.exams-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  font-size: 1.5rem;
}

.exams-list-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 2rem;
  height: 80vh;
  overflow-y: auto;

  border: 2px solid var(--orange1);
}

.exams-list-headers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1% 2%;
    font-size: 1.4rem;
    font-weight: 600;
    background: var(--orange2);
    border-bottom: 1px solid var(--orange1);
}
