.exam-rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.star-rating {
  display: flex;
}

.radio-input {
  position: fixed;
  opacity: 0;
  pointer-events: none;
}

.radio-label {
  cursor: pointer;
  font-size: 0;
  color: rgba(0, 0, 0, 0.2);
  transition: color 0.1s ease-in-out;

  &.selected {
    color: gold;
  }
}

.radio-label:before {
  content: "★";
  display: inline-block;
  font-size: 32px;
}

.radio-input:checked ~ .radio-label {
  color: #ffc700;
  color: gold;
}

.radio-label:hover,
.radio-label:hover ~ .radio-label {
  color: goldenrod;
}

.radio-input:checked + .radio-label:hover,
.radio-input:checked + .radio-label:hover ~ .radio-label,
.radio-input:checked ~ .radio-label:hover,
.radio-input:checked ~ .radio-label:hover ~ .radio-label,
.radio-label:hover ~ .radio-input:checked ~ .radio-label {
  color: darkgoldenrod;
}

.average-rating {
  position: relative;
  color: transparent;
  width: auto;
  display: inline-block;
  vertical-align: baseline;
  font-size: 1.8rem;
  line-height: 1;
}

.average-rating::before {
  --percent: calc(4.3 / 5 * 100%);
  content: "★★★★★";
  color: rgba(0, 0, 0, 0.2);
  background: linear-gradient(90deg, gold var(--percent), rgba(0, 0, 0, 0.3) var(--percent));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.total-ratings-text {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.8);
}
