.exams-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 1.3rem;
}

.exams-list-container {
  display: flex;
  flex-direction: column;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  width: 90vw;
  height: 85vh;

  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--orange1) var(--yellow4);

  border: 2px solid var(--orange1);
}

.headers-row {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  width: 110vw;
  padding: 1% 2%;
  gap: 4rem;
  font-weight: 500;
  background: var(--orange2);
  border-bottom: 1px solid var(--orange1);
  box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.1);
}

.exam-row {
  height: 5rem;
  display: flex;
  align-items: start;
  width: 110vw;
  padding: 1% 2%;
  gap: 4rem;
  border-bottom: 1px solid var(--orange1);
  transition: background 0.3s;

  &:nth-child(even) {
    background: var(--yellow2);
  }

  &:nth-child(odd) {
    background: var(--yellow3);
  }

  &:hover {
    background: var(--orange4);
    cursor: pointer;
  }

  &:active {
    background: var(--orange3);
  }
}

.table-element {
  overflow: hidden;
  max-height: 100%;
}

.grade,
.term {
  width: 5rem;
}

.year,
.semester {
  width: 7rem;
}

.type {
  width: 10rem;
}
.rank,
.course-num,
.lecturers {
  width: 15rem;
}
.course-name {
  width: 20rem;
}
.favorite {
  width: 8rem;
}

.checkbox-wrapper-22 {
  margin-top: 1rem;
}
.checkbox-wrapper-22 .switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.checkbox-wrapper-22 .switch input {
  display: none;
}

.checkbox-wrapper-22 .slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.checkbox-wrapper-22 .slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

.checkbox-wrapper-22 input:checked + .slider {
  background-color: #66bb6a;
}

.checkbox-wrapper-22 input:checked + .slider:before {
  transform: translateX(26px);
}

.checkbox-wrapper-22 .slider.round {
  border-radius: 34px;
}

.checkbox-wrapper-22 .slider.round:before {
  border-radius: 50%;
}
