.upload-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.upload-form-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  label {
    font-size: 2.5rem;
    font-weight: bold;
  }
  a {
    font-size: 1.25rem;
  }
}

.upload-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  width: 100%;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.25);
}

.upload-form-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  padding: 1rem 0;
  position: relative;
}

.upload-form-clear-btn {
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: var(--red1);
  cursor: pointer;
  transition: all 0.3s;
  font-size: 2rem;

  &:hover {
    color: var(--cyan2);
  }
}

#upload-form-content-1 {
  background-color: var(--cyan4);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
#upload-form-content-2 {
  background-color: var(--cyan5);
}
#upload-form-content-3 {
  background-color: var(--cyan4);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;

  &.show-file {
    height: 100%;
  }
}

.upload-form-content-header {
  font-size: 2rem;
  font-weight: bold;
  color: navy;
  align-self: start;
  margin: 1rem 3rem 0;
}

.upload-form-details {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 3rem;
  padding: 2rem;
  flex-wrap: wrap;
}

.upload-form-attr {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;

  & label {
    font-size: 1.6rem;
    font-weight: 500;
    color: navy;
  }

  input {
    width: 15vw;
    height: 2rem;
    padding: 0.5rem 1rem;
    border: 0.5px solid var(--cyan3);
    background: rgb(255, 255, 255);
    font-size: 1.2rem;

    &:focus {
      outline: none;
    }

    &:disabled {
      background: #f0f0f0;
    }
  }

  select {
    width: 17.2vw;
    height: 3rem;
    padding: 0.5rem 1rem;
    border: 0.5px solid var(--cyan3);
    font-size: 1.2rem;

    &:focus {
      outline: none;
    }

    &:disabled {
      background: #f0f0f0;
    }

    option {
      font-size: 1.2rem;
    }
  }
}

.exam-details-form {
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(3, auto);
  padding: 1rem 0;

  border: 1px solid var(--red1);

  justify-items: center;
  align-items: center;
}

#upload-exam-file-input {
  display: none;
}

.upload-exam-btn {
  height: 3rem;
  background-color: var(--cyan2);
  font-size: 1.5rem;
  font-weight: bold;
  border: none;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  cursor: pointer;
  transition: all 0.3s;
  position: relative;

  &:hover {
    background-color: var(--cyan1);
    transform: scale(1.1);
  }

  &:active {
    background-color: var(--cyan3);
    transform: scale(0.9);
  }

  &.attached {
    background-color: var(--cyan3);
    cursor: default;

    &:hover {
      background-color: var(--cyan3);
      transform: scale(1);
    }
  }
}

.pdf-preview {
  width: 80vw;
  height: 170vh;
}

.react-pdf__Page__canvas {
  margin: 2rem auto;
  width: 80% !important;
  height: 100% !important;
}

.pdf-preview-arrows {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 1rem 0;
  font-size: 1.5rem;
}

.navigation-arrow {
  font-size: 2rem;
  color: grey;

  &.enabled {
    color: navy;

    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      color: var(--cyan2);
    }
  }
}

.cancel-file {
  font-size: 1.5rem;
  color: red;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s;
  position: absolute;
  left: -0.5rem;
  top: -0.5rem;

  &:hover {
    color: var(--cyan2);
  }
}

.lds-dual-ring {
  margin-left: auto;
  margin-right: auto;
  width: 15px;
  height: 15px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;

  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
