.exams-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 1.3rem;
}

.exams-list-container {
  display: flex;
  flex-direction: column;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  width: 90vw;
  height: 85vh;
  overflow: auto;
  scrollbar-color: var(--orange1) var(--yellow4);
  border: 2px solid var(--orange1);

  &.is-profile-page {
    width: 75vw;
    height: 75vh;
  }
}

.exams-list-rows {
  display: flex;
  flex-direction: column;
}

.exams-list-headers-row {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  width: 130vw;
  padding: 1% 2%;
  gap: 4rem;
  font-weight: 500;
  background: var(--orange2);
  border-bottom: 1px solid var(--orange1);
  box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.1);
  z-index: 1;

  &.is-profile-page {
    width: 130vw;
  }
}

.exam-row {
  min-height: 6rem;
  display: flex;
  align-items: center;
  width: 130vw;
  padding: 1% 2%;
  gap: 4rem;
  border-bottom: 1px solid var(--orange1);
  transition: background 0.3s;

  &:nth-child(even) {
    background: var(--yellow2);
  }

  &:nth-child(odd) {
    background: var(--yellow3);
  }

  &:hover {
    background: var(--orange4);
    cursor: pointer;
  }

  &:active {
    background: var(--orange3);
  }

  &.is-profile-page {
    width: 130vw;
  }
}

.table-element {
  overflow: hidden;
  max-height: 100%;
}

.grade,
.year,
.term {
  width: 7rem;
}

.type {
  width: 12rem;
}
.rating,
.course-code,
.lecturers {
  width: 15rem;
}
.course-name {
  width: 20rem;
}
.favorites,
.semester {
  width: 10rem;
}
.tags {
  width: 15rem;
}

.exams-list-error {
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 2rem;
  font-size: 1.5rem;
  color: var(--red1);
}

.table-element.header {
  cursor: pointer;
  display: flex;
  align-items: center;

  &:hover,
  &.is-sorter {
    a {
      text-decoration: underline;
    }
  }
}

.table-element.row.rating {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
#exams-loading:after {
  margin-top: 2rem;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 3px solid var(--orange3);
  border-color: var(--orange3) transparent var(--orange3) transparent;
}
