.new-thread {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.new-thread-container {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  width: 80%;
  gap: 2rem;
  margin-bottom: 2rem;
}

.new-thread-label-input-pair {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  position: relative;
}

.new-thread-label {
  font-size: 1.5rem;
  width: 10vw;
  text-align: left;
  padding: 0.5rem 0.5rem;
}

.new-thread-input {
  width: 40vw;
  height: 2rem;
  border-radius: 0.5rem;
  border: 1px solid grey;
  padding: 0.5rem 0.5rem;
  font-size: 1.3rem;

  &:focus {
    outline: none;
  }
}

.new-thread-buttons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
}

.new-thread-button {
  width: 10vw;
  height: 5vh;
  border-radius: 1rem;
  background-color: #000000;
  color: white;
  font-size: 1.4rem;
  border: none;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    background-color: #333333;
  }

  &:active {
    background-color: #666666;
  }
}

#new-thread-exam-loading {
  position: absolute;
  left: 60%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#new-thread-exam-loading:after {
  border: 2px solid grey;
  border-color: grey transparent grey transparent;
}
